main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-container {
    border-top-right-radius: 50px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    background-color: rgb(226, 226, 226);
    margin: 15px;
    margin-top: 100px;
}

.auth-container * {
    font-size: large;
    margin: 0 50px;
}

.title {
    font-weight: bold;
    color: white;
    font-size: 1.75rem;
    margin-bottom: 2rem;
    align-self: center;
    margin: 0;
    padding: 25px;
    background-color: rgb(0, 136, 255);
    width: 100%;
    margin-bottom: 30px;
    border-top-right-radius: 50px;
}

.auth-container input {
    margin-bottom: 1.2rem;
}

.auth-container input, .auth-container button {
    padding: 0.5rem 1.5rem;
    border: none;
    background-color: rgb(255, 255, 255);
    margin-top: 5px;
}

.auth-container input:hover,
.auth-container input:focus,
.auth-container button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}


.auth-container input:focus,
.auth-container button:focus {
    background-color: rgba(255, 255, 255, 0.8);
    outline: 3px solid rgb(0, 136, 255);
}

.auth-container button:active{
    background-color: rgba(255, 255, 255, 0.592);
}

.auth-container button {
    margin-bottom: 0.5rem;
    font-weight: bold;
    margin-bottom: 25px;
}

.text {
    margin-bottom: 2rem;
    justify-content: center;
}

.link {
    color: rgb(0, 136, 255);
    margin: 0;
    text-wrap: nowrap;
}

.link:hover {
    color: rgb(78, 172, 255);
}

input::placeholder {
    color: rgba(0, 0, 0, 0.247);
}

.error-display {
    color: rgb(163, 0, 0);
    align-self: center;
    padding: 3px 15px;
    background-color: rgb(255, 177, 177);
    visibility: hidden;
}