* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    width: 100%;
    background-color: rgb(33, 44, 75);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div {
    color: white;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar {
    position: fixed;
    transition: top 0.25s ease-in-out;
}